* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.flex {
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  background: rgb(53, 204, 255);
}
.flex2 {
  display: flex;
  width: 45%;
  justify-content: space-around;
}
.header {
  max-width: 100%;
}
.in {
  position: absolute;
  top: 10%;
  left: 25%;
  right: 25%;
  text-align: center;
  color: white;
}
.inm {
  display: flex;
  flex-direction: column;
}
.textt {
  font-size: 0.6rem;
}
.im {
  max-width: 50%;
}
.inorder {
  display: flex;
  justify-content: end;
}
.text {
  padding: 10%;
}
.reorder {
  display: flex;
}
.learn-yellow {
  text-decoration: underline;
  text-decoration-color: yellow;
}
.learnpink {
  text-decoration: underline;
  text-decoration-color: pink;
}
.imin {
  display: flex;
}
.client {
  text-align: center;
}
.tweets {
  padding: 10%;
  display: flex;
}
.pic {
  border-radius: 50%;
  max-width: 70%;
  padding: 15%;
}
.pics4 {
  display: flex;
}
.four {
  max-width: 25%;
}
.ending {
  display: grid;
  text-align: center;
  background: rgb(135, 208, 233);
}
.lf {
  display: flex;
  text-align: center;
  margin-left: 30%;
  width: 40%;
  justify-content: space-around;
}
