* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.flex {
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  background: rgb(53, 204, 255);
}
.flex2 {
  display: flex;
  width: 45%;
  justify-content: space-around;
}
.header {
  max-width: 100%;
}
.in {
  position: absolute;
  top: 10%;
  left: 25%;
  right: 25%;
  text-align: center;
  color: white;
}
.inm {
  display: flex;
  flex-direction: column;
}
.textt {
  font-size: 0.6rem;
}
.im {
  max-width: 50%;
}
.inorder {
  display: flex;
  justify-content: end;
}
.text {
  padding: 10%;
}
.reorder {
  display: flex;
}
.learn-yellow {
  text-decoration: underline;
  text-decoration-color: yellow;
}
.learnpink {
  text-decoration: underline;
  text-decoration-color: pink;
}
.graphic {
  background: url(../image-graphic-design.jpg);
  background-size: 100% 100%;
  max-width: 50%;
}
#imghead {
  margin-top: 50%;
  text-align: center;
}
#imgtext {
  text-align: center;
}
.photo {
  background: url(../image-photography.jpg);
  background-size: 100% 100%;
}
.imin {
  display: flex;
}
.client {
  text-align: center;
}
.tweets {
  padding: 10%;
  display: flex;
}
.pic {
  border-radius: 50%;
  max-width: 60%;
  margin-left: 20%;
}
.pics4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.four {
  max-width: 100%;
}
.ending {
  display: grid;
  text-align: center;
  background: rgb(135, 208, 233);
}
.lf {
  display: flex;
  text-align: center;
  margin-left: 20%;
  width: 60%;
  justify-content: space-around;
}

@media screen and (max-width: 400px) {
  .inorder {
    flex-direction: column;
  }
  .reorder {
    flex-direction: column-reverse;
  }
  .im {
    max-width: 100%;
  }
  .graphic {
    max-width: 100%;
  }
  .tweets {
    flex-direction: column;
  }
  .four {
    max-width: 25%;
  }
  .pics4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* border: solid 2px red; */
  }
  .four {
    max-width: 100%;
  }
  /* .lf {
    flex-direction: column;
  } */
}
